body {
      background-color:rgb(20, 20, 20);
}
h1 {
    color:lightblue;
}      

div a{
    position:absolute
    bottom:50px
    width:50%
    border:3px solid black;  
}


p{
    padding:35px;a

}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">